<?xml version="1.0"?>
{{ ansible_managed | comment('xml') }}
<yandex>
  <storage_configuration>
    <disks>
      <default/>
    </disks>
    <policies>
      <logs_policy>
        <volumes>
          <data>
            <disk>default</disk>
          </data>
        </volumes>
      </logs_policy>
    </policies>
  </storage_configuration>
</yandex>
