export MAX_HEAP_SIZE="{{ cassandra.configuration.max_heap_size }}"
export HEAP_NEWSIZE="{{ cassandra.configuration.heap_newsize }}"
export JVM_OPTS=" {{ cassandra.configuration.jvm_opts }} "
export FD_LIMIT={{ cassandra.configuration.fd_limit }}
