JAVA_HOME="{{ zookeeper.java_home }}"
JVMFLAGS="{{ zookeeper.configuration.jvmflags }}"
ZOO_LOG_DIR="{{ zookeeper.configuration.log_dir }}"
JMXDISABLE=true
ZK_SERVER_HEAP={{ zookeeper.configuration.heap_size }}
ZOO_LOG4J_PROP='{{ zookeeper.configuration.log_level }},ROLLINGFILE'
SERVER_JVMFLAGS="-Dzookeeper.log.file={{ zookeeper.configuration.log_file }} \
-Dzookeeper.log.maxfilesize={{ zookeeper.configuration.log_max_file_size }} \
-Dzookeeper.log.maxbackupindex={{ zookeeper.configuration.log_max_backup_index }}"
