# {{ ansible_managed }}
[Service]
Type=simple
User=cockroachdb
Group=cockroachdb
Restart=always
RestartSec=30
ExecStart={{ cockroachdb.install_dir }}/{{ cockroachdb.version }}/cockroach start \
  --store={{ cockroachdb.configuration.data_dir }} \
  --log-dir={{ cockroachdb.configuration.log_dir }} \
  --listen-addr={{ ansible_default_ipv4.address }}:{{ cockroachdb.configuration.port }} \
  --http-addr={{ ansible_default_ipv4.address }}:{{ cockroachdb.configuration.http_port }} \
  --join={{ cockroachdb_join_list | join(",")}} \
  --pid-file={{ cockroachdb.install_dir }}/{{ cockroachdb.version }}/cockroach.pid \
{% if cockroachdb.configuration.cache is defined %}  --cache={{ cockroachdb.configuration.cache | default(omit)}} \
{%else%}{%endif%}
{% if cockroachdb.configuration.max_sql_memory is defined %}  --max-sql-memory={{ cockroachdb.configuration.max_sql_memory | default(omit)}} \
{%else%}{%endif%}
{% if cockroachdb.configuration.locality is defined %}  --locality={{ cockroachdb.configuration.locality | default(omit)}} \
{%else%}{%endif%}
{% if cockroachdb.cluster_mode|lower == 'secure' %}  --certs-dir={{cockroachdb.configuration.certs_dir}}{%else%}  --insecure{%endif%}

EnvironmentFile=-/etc/cockroachdb/systemd.env
ExecStop={{ cockroachdb.install_dir }}/{{ cockroachdb.version }}/cockroach quit --host={{ ansible_default_ipv4.address }}:{{ cockroachdb.configuration.port }}{% if cockroachdb.cluster_mode|lower == 'secure' %} --certs-dir={{cockroachdb.configuration.certs_dir}}{%else%} --insecure{%endif%}

LimitCORE=infinity
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
